body {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    height: 100%;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    height: 100%;
}

.pendulum-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px; /* Adjusted height to accommodate full pendulum rotation */
    position: relative;
    width: 100%;
}

.pendulum {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: top center;
    width: 4px;
    height: 150px;
    background-color: #333;
    transform: translateX(-50%);
}

.pendulum:before {
    content: "";
    position: absolute;
    bottom: -12.5px;
    left: calc(-12.5px + 2px);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #333;
}

#terminal {
    font-family: monospace;
    padding: 10px;
    color: #00ff00;
    background-color: #000;
    min-width: 900px;
}

#terminal-output {
    margin: 0;
}

.center-circle-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
}

.center-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #000; /* Change the color if desired */
}