[submodule "tests/lib/highfive"]
	path = tests/lib/highfive
	url = https://github.com/BlueBrain/HighFive.git
[submodule "tests/lib/matplotlib"]
	path = tests/lib/matplotlib
	url = https://github.com/lava/matplotlib-cpp.git
[submodule "tests/lib/tensorboard"]
	path = tests/lib/tensorboard
	url = https://github.com/RustingSword/tensorboard_logger.git
[submodule "tests/lib/googletest"]
	path = tests/lib/googletest
	url = https://github.com/google/googletest.git
[submodule "tests/src/nn/cuda/lib/cutlass"]
	path = tests/src/nn/cuda/lib/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "tests/lib/nlohmann"]
	path = tests/lib/nlohmann
	url = https://github.com/nlohmann/json.git
