[submodule "tests/lib/matplotlib"]
	path = tests/lib/matplotlib
	url = git@github.com:lava/matplotlib-cpp.git
[submodule "lib/highfive"]
	path = lib/highfive
	url = https://github.com/BlueBrain/HighFive.git
