/cmake-build-debug
/cmake-build-release
/cmake-build-debug-cuda

/.idea

.vscode/settings.json

/**/*.h5
/**/*.hdf5
/plots
/build


/**/*.swp
/Testing
/tests/docker/context
/**/*.png
/logs

/data
/**/__pycache__
/**/.gdb_history
