.body{
    max-height: 100vh;
}
#drawingCanvas{
}
#aspectRatioContainerContainerContainer{
    display: flex;
    justify-content: center;
}
#aspectRatioContainerContainer{
    width: 80%;
    max-width: 800px;
}
#aspectRatioContainer{
    width: 80%;
    padding-top: 80%;
    position: relative;
    margin: 0 auto;
}

#canvasContainerInner{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background-color: rgba(0, 0, 255, 0.2);*/
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}

#messageContainer{
    text-align: center;
    margin-top: 10px;
}
#controlContainer{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    margin-bottom: 10px;
}
input{
}
input:not(:first-child) {
    margin-left: 20px;
}
h1{
    text-align: center;
    margin-bottom: 0px;
}