@import url('./play_trajectory.css');
.run-container{
    margin-left: 30px;
}
.trajectory-player-canvas-container{
    height: 500px;
    width: 500px;
}

#latest-run-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#latest-zoo-runs-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.latest-zoo-runs-container-element{
    margin: 10px;
}

.zoo-container-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.zoo-container-container-element{
    max-width: 900px;
    width: 100%;
    text-align: center;
}
