.trajectory-player-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.trajectory-player-canvas-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    position: relative;
}

.trajectory-player-controls-container{
    text-align: center;
}
.trajectory-player-controls-container > * {
    margin: 5px;
}
.trajectory-player-canvas-container{
    flex-grow: 1;
    /*display: flex;*/
    /*flex-direction: column;*/
    border-radius: 7.5px;
    /*border-style: solid;*/
    /*border-width: 2px;*/
    /*border-color: #67b1ae8c;*/
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    aspect-ratio: 1 / 1;
    max-width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}
